.covid {
    margin-bottom: 115px;
}

.covid__big {
    width: min(1218px, 100%);
    padding: 30px 0 25px 30px;
    background: url(../img/hookah-images/covid.png);
    border-radius: 15px;
}

.covid__title {
    font-family: 'Montserrat Alternates';
    font-weight: 700;
    font-size: 32px;
    color: #fff;
}

.covid__txt {
    margin-top: 15px;
    width: min(523px, 100%);
    font-size: 16px;
    color: #fff;
}